<h3>Order from Pragmatic Order was sent </h3>
<p>
  This message notifies you that we sent your recent order:
</p>
<table>
  <tr><th colspan="2">Number</th>Description</tr>
  <%= render @order.line_items -%>
</table>

This message notifies you that we sent your recent order:
</ P>
<Table>
<Tr> <th colspan = "2"> Number </ th> <th> Description </ th> </ tr>
<% = Render @ order.line_items -%>
</ Table>
